.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
}
.container .half {
  height: 100%;
  overflow: auto;
}
.container .horizontal_divider {
  width: 4px;
  background-color: #ddd;
  cursor: col-resize;
}
.container .horizontal_divider:hover {
  background-color: #ccc;
}
.container .vertical_divider {
  height: 4px;
  background-color: #ddd;
  cursor: row-resize;
}
.container .vertical_divider:hover {
  background-color: #ccc;
}
.vertical {
  flex-direction: column;
}
