.container {
  display: flex;
  flex-direction: row;
  padding: 2rem 10rem 0 4rem;
  .anchor {
    flex-shrink: 0;
    padding: 1rem;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    margin-right: 5rem;

    & > span {
      display: block;
      font-weight: bold;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .anchor_list {
      height: 500px;
      width: 300px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 2rem 5rem 0 5rem;
  }

  @media screen and (max-width: 600px) {
    padding: 2rem 2rem 0 2rem;
  }
}
