.container {
  @include flex-center;
  justify-content: center;
  width: 60px;
  height: 30px;
  background-color: #fff8dc;
  position: relative;
  padding: 8px 16px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transform: rotate(-2deg);
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #fff #fff #f0e6b3 #f0e6b3;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  &:hover {
    transform: rotate(0deg) scale(1.1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff5c2;
  }
}
