.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    align-items: center;
    gap: 2rem;
    .title {
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: default;
      position: relative;

      // TODO: 优化溢出文字展示影响布局问题
      &:hover {
        overflow: visible;
        white-space: normal;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }
    }

    .operation {
      @include flex-center;
      gap: 0.5rem;
      div {
        cursor: pointer;
      }
    }
  }

  .editor {
    font-size: 18px;
    height: fit-content;
    overflow: auto;
    flex-grow: 1;

    // 添加只读状态提示
    &[data-readonly="true"] {
      position: relative;

      &:hover::after {
        content: "只读模式";
        position: absolute;
        top: 5%;
        // bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 12px;
        white-space: nowrap;
        z-index: 100;
      }
    }

    // 编辑器样式 保留原始类名
    :global {
      .cm-content {
        // background-color: #f5f5f5;
      }

      // 行号
      .cm-gutters {
        background-color: #f0f0f0;
        -webkit-user-select: none;
        user-select: none;
      }

      // NOTE: 选中文本时，这个行的背景色会盖过被选择的文本，造成误导。但是如何感知用户选择的行和文本还未知。
      .cm-activeLine {
        background-color: #e8f2ff;
      }

      .cm-editor {
        border-bottom: 1px solid black;
      }

      .cm-focused {
        outline: none;
      }

      .cm-highlight {
        background-color: rgba(48, 239, 54, 0.3);
        border-radius: 2px;
        padding: 0 2px;
      }
    }
  }

  .output {
    margin-top: 16px;
    padding: 8px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    min-height: 100px;
  }
}
