.container {
  display: flex;
  flex-direction: row;
  padding: 2rem 10rem 0 10rem;
  .anchor {
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    position: sticky;
    top: 40%;
    height: fit-content;
    width: 150px;
    white-space: nowrap;
    margin-right: 5rem;

    span {
      font-weight: bold;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .anchorLink {
      display: block;
      padding: 0.5rem 0.5rem;
      border-radius: 4px;
      color: inherit;
      text-decoration: none;
      transition: all 0.2s ease;
      width: 100%;

      &:hover {
        background-color: #f0f0f0;
      }

      &.active_link {
        background-color: #007bff;
        color: white;
        font-weight: bold;
      }
    }

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 2rem 5rem 0 5rem;
  }

  @media screen and (max-width: 600px) {
    padding: 2rem 2rem 0 2rem;
  }
}
