.container {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

// TODO: 响应式
.left {
  width: 300px;
  background-color: #f2f2f2;
  position: relative;
}

.right {
  flex: 1;
  padding: 1rem 3rem;
  overflow: scroll;
}
