@font-face {
  font-family: "lxgw";
  src: url("/font/LXGWWenKai-Bold.ttf") format("truetype");
}

.rei-logo {
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "lxgw", sans-serif;
}
