.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  height: 4rem;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: background-color 0.1s ease-in-out;
}

.header_linear {
  // background: linear-gradient(to right, $theme-primary-color, #ccffdd);
  background-color: $header-background-color;
}

.main {
  height: calc(100vh - 4rem);
}

.bg {
  z-index: -1;
  // position: absolute;
  height: 900px;
  object-fit: cover;
  width: 100%;
  background-image: url("/img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
