.rei-router-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__header {
    height: 4rem;
    position: sticky;
    top: 0;
    // background-color: rgb(255, 248, 239);
    // background: linear-gradient(to right, $theme-primary-color, #ccffdd);
    // border-bottom: 0.1rem solid rgb(255, 193, 193);
  }

  &__bg {
    z-index: -1;
    // height: fit-content;
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: absolute;
    background-image: url("/img/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
