.rei-router-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-image: url("/img/bg.png");

  &__header {
    // background-color: rgb(255, 250, 244);
    height: 4rem;
    width: 100%;
    margin: 0;
  }
}
