.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  height: 4rem;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: background-color 0.1s ease-in-out;
}

.header_linear {
  background-color: rgba($color: $header-background-color, $alpha: 0.99);
}

.main {
  height: calc(100vh - 4rem);
}
