.wrapper {
  margin: 4rem;
  width: 900px;
  height: 400px;
  .container {
    background-color: blueviolet;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header {
      height: 2rem;
      font-weight: bold;

      display: flex;
      align-items: center;
      padding-left: 1rem;
    }

    .operations {
      height: 2rem;
      background-color: aquamarine;
    }

    .main {
      flex: 1;
      display: flex;
      flex-direction: row;
      .left_container {
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;

        .left_header {
          height: 2rem;
          position: sticky;
          background-color: yellow;
          top: 0;
        }

        .code_container {
          max-height: 100%;
          background-color: aqua;
          overflow: auto;
          padding: 0.5rem;

          .code {
            width: 100%;
            // 为什么这里的height大的时候会影响整个flex的布局，包括header都会变低。预期是这里的高度就是剩余高度限制好了，多余部分滚动不应该影响整体布局的
            //   height: 100000px;
          }
        }
      }
      .visual_container {
        flex: 1;
        background-color: antiquewhite;
      }
    }
  }
}
.test {
  height: 200px;
  width: 200px;
  background-color: yellow;
  display: flex;
  flex-direction: column;

  .div1 {
    height: 50px;
    background-color: greenyellow;
  }

  .div2 {
    height: 2000px;
    background-color: red;
  }
}
