.rei-router-layout-header-link {
  // TODO:: 移动端适配
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: black;

  &:hover {
    animation: rei-router-layout-link-color-change 0.2s ease-in-out;
  }
  &.active {
    color: rgb(81, 222, 83);
  }
}

@keyframes rei-router-layout-link-color-change {
  0% {
    color: black;
  }
  100% {
    color: rgb(255, 128, 0);
  }
}
