.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    align-items: center;
    gap: 2rem;
    .title {
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: default;
      position: relative;

      // TODO: 优化溢出文字展示影响布局问题
      &:hover {
        overflow: visible;
        white-space: normal;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }
    }

    .operation {
      @include flex-center;
      gap: 0.5rem;
      div {
        cursor: pointer;
      }
    }
  }

  .editor {
    font-size: 18px;
    height: 400px;
    overflow: auto;
    flex-grow: 1;

    // 编辑器样式 保留原始类名
    :global {
      .cm-content {
        // background-color: #f5f5f5;
      }

      // 行号
      .cm-gutters {
        background-color: #f0f0f0;
        -webkit-user-select: none;
        user-select: none;
      }

      .cm-activeLine {
        background-color: #e8f2ff;
      }

      .cm-editor {
        border-bottom: 1px solid black;
      }

      .cm-focused {
        outline: none;
      }
    }
  }

  .output {
    margin-top: 16px;
    padding: 8px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    min-height: 100px;
  }
}
