.container {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  padding: 4px;
}

.arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  transition: all 0.2s ease;
  border-radius: 0.25rem;

  &:hover {
    background-color: #e9eef8;
  }
}

.arrow {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  color: #6b7280;
}

.arrowOpen {
  transform: rotate(90deg);
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: #111827;
  margin-left: 8px;
}

.content {
  padding-left: 32px;
  font-size: 14px;
  color: #4b5563;
  line-height: 1.5;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;

  line-height: 1.6;
  font-size: 1rem;
}

.contentOpen {
  margin-top: 12px;
  max-height: fit-content; // 根据实际内容高度调整
}
