.container {
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  size: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

// 添加箭头样式
.arrow {
  transition: transform 0.2s ease;
  margin-left: auto;

  &.rotated {
    transform: rotate(90deg);
  }
}

// 保持现有标题样式
.title {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;

  &:hover {
    background-color: #eebfbf;
  }

  & > .arrow_active {
    transform: rotate(90deg);
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding-left: 0.5rem;
  border-left: black 1px solid;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.3s ease,
    opacity 0.1s ease;
  overflow: hidden;
}
.expanded {
  max-height: 1000px; // 可以根据需要调整
  opacity: 1;
  overflow: visible;
}

// 保持现有箭头动画
.arrow {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.leaf {
  cursor: pointer;
  padding: 0.1rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.1s ease-in-out;
  position: relative;

  &:hover {
    color: springgreen;

    &:not(:first-child)::before {
      content: "·";
      color: springgreen;
      font-size: 60px;
      position: absolute;
      left: -16px;
      top: -30px;
    }

    &:first-child::before {
      content: "·";
      color: springgreen;
      font-size: 60px;
      position: absolute;
      left: -16px;
      top: -32px;
    }
  }

  &:not(:first-child) {
    margin-top: 0.75rem;
  }
}
