.container {
  width: 100%;
  position: relative;
}

.bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -4rem;

  .svg_background {
    background: radial-gradient(
        circle at 80% 50%,
        rgba(179, 229, 252, 0.5) 0%,
        transparent 50%
      ),
      radial-gradient(
        circle at 20% 10%,
        rgba(240, 244, 195, 0.6) 0%,
        transparent 60%
      ),
      radial-gradient(
        circle at 50% 80%,
        rgba(240, 244, 195, 0.4) 0%,
        transparent 60%
      ),
      linear-gradient(
        45deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.9) 100%
      );
    width: 100%;
    height: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  top: 5rem;
}
