$header-link-active: #ffa4ff;
$mobile-size: 600px;

// 可配置主题
$theme-primary-color: #ffffbb;
$header-background-color: #f8fff3;

$color1: #f294ae;

// docs文档页样式
$docs-menu-active-background-color: #f8fff3;
$docs-menu-active-left-border-color: #f294ae;
