$header-link-hover: #bd6cff;
$header-link-active: #ff5050;

@mixin link {
  @include flex-center;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 0.25rem 0.75rem;
  border-radius: 1.5em;
  &:hover {
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }
}

.link {
  @include link;
  transition:
    color 0.2s ease,
    background-color 0.2s ease;
  &:hover {
    color: $header-link-hover;
    background-color: rgb(255, 252, 252);
  }
}

.active_link {
  @include link;
  color: $header-link-active;
  background-color: rgb(200, 255, 250);
}
