.container {
  position: relative;
  margin: 1rem auto;
  width: fit-content;
  .languageTag {
    position: absolute;
    display: flex;
    justify-content: end;
    right: 1rem;
    bottom: 0.5rem;
    -webkit-user-select: none;
    user-select: none;
  }

  .pre {
    padding: 1rem;
    color: rgb(57, 58, 52);
    background-color: rgb(246, 248, 250);
  }
}
